<nav class="navbar navbar-light" style="background-color: #3CB371;">
    <div class="text-center p-3">
        <a style="color:white; font-size: 150%;">Cartas CPP</a>
    </div>


</nav>


<div class="image-container">
    <div class="row">
        <div class="col d-flex align-items-center"> <img
                src="https://www.propal.com.co:4443/PropalWebProveedores/login2/imagenes/provedores2011cpp_r2_c1_r1_c1.png"
                alt="" width="700" height="200" class="d-inline-block align-text-top">
        </div>
        <div class="col d-flex align-items-center"> <button class="contenedor-btn-file">
                Adjuntar archivo
                <label for="btn-file"></label>
                <input type="file" id="btn-file" appReadexcel #readexcel="readexcel"
                    (eventEmitter)="DataFromEventEmitter($event)">
            </button></div>




    </div>
</div>


<footer class="text-center text-white" style="background-color: #3CB371;">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Iframe -->
        <section class="">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="ratio ratio-16x9">
                        <iframe class="shadow-1-strong rounded" src="https://www.youtube.com/embed/kzoYNxcQ_JQ"
                            title="YouTube video" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Iframe -->
    </div>
    <div class="text-center p-3" style="background-color: rgba(60, 179, 113, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
</footer>